<!DOCTYPE html>
<html ng-app='mobomoApp'>
<head>
    <title>Hello World</title>
</head>
<body ng-controller="EmployeeController">
	<input type="text" ng-model="employeeText">
	<button ng-click="addEmployee(employeeText)">Add Employee</button>
    <h1>Hello {{employeeText}}</h1>
    <ul ng-repeat="employee in employees | filter:employeeText">
    	<li>
    		{{employee.name}} lunch cost: {{employee.lunch | currency}}
    		<button ng-click="employees.$remove(employee)">Fire</button>
    	</li>
    </ul>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>
<script type="text/javascript" src="js/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
<script>
	var app = angular.module('mobomoApp', ['firebase']);
	app.controller('EmployeeController', function($scope, $firebase){

		var ref = new Firebase("https://boiling-fire-8257.firebaseio.com/");
		var sync = $firebase(ref);
		$scope.employees = sync.$asArray();

		$scope.addEmployee = function(text) {
			$scope.employees.$add({ 'name': text, 'lunch' : 2.50879 });
		};

	});
</script>
</body>
</html>